fastapi
uvicorn
requests
python-dotenv
pydantic
pydantic_settings
pypdf
torch==2.2.2
transformers==4.41.2
sentence-transformers==2.7.0
chromadb
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
groq